.header-bar {
  width: 520px;
  height: 3760px;
  padding-left: 40px;
  padding-top: 30px;
  background-color: #394508;
}

.body {
  max-width: 1280px;
  height: auto;
  display: flex;
}

.mainStyles {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 50px;
  margin-right: 40px;
  width: 760px;
  height: auto;
}
