.Header-container {
  width: 760px;
  height: 713px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.Header-img {
  width: 680px;
  height: 380px;
  margin-bottom: 50px;
}

.main-head-text {
  width: 680px;
  height: 44;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "IBM Plex Sans";
}

.logo-wall {
  display: inline-flex;
  width: 680px;
  height: 90px;
  margin-bottom: 50px;
  gap: 62px;
  padding-left: 40px;
}

.log-text {
  width: 85px;
  height: 21px;
  color: #619111;
  font-size: 16px;
  font-weight: 600;
  font-family: "IBM Plex Sans";
}

.graph-div {
  width: 760px;
  height: 736px;
  display: flex;
  flex-direction: column;
}

.ghaph-h1 {
  margin-left: 108px;
  width: 465px;
  height: 44px;
  font-size: 42px;
  color: #394508;
  white-space: nowrap;
  font-family: "IBM Plex Sans";
  font-weight: 450;
  margin-bottom: 10px;
}

.graph-description {
  margin-left: 143px;
  text-align: center;
  width: 395px;
  height: 28px;
  white-space: nowrap;
  color: #5d5d5d;
  font-size: 12px;
  margin-bottom: 30px;
}

.grapghs {
  width: 680px;
  height: 464px;
  gap: 20px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 160px;
}

.graph-box {
  display: flex;
  width: 330px;
  height: 222px;
  background-color: #d2fd9c;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 33px;
  border-radius: 10px;
}

.graph-img {
  width: 125px;
  height: 112px;
}

.graph-text {
  color: #394508;
  font-size: 16px;
  font-family: "IBM Plex Sans";
}

.graph-item1 {
  font-size: 90px;
  color: #394508;
  font-family: "IBM Plex Sans";
}

.graph-item2 {
  font-size: 80px;
  font-weight: 500;
  color: #394508;
  font-family: "IBM Plex Sans";
  width: 200px;
  height: 68px;
}

.ReliableApp {
  width: 760px;
  height: 560px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

.App-h1 {
  width: 481px;
  height: 44px;
  font-size: 42px;
  color: #394508;
  font-family: "IBM Plex Sans";
  margin-bottom: 30px;
  margin-left: 110px;
}

.AppContainer {
  display: inline-flex;
  gap: 20px;
  margin-bottom: 80px;
}

.cred {
  gap: 19px;
  display: flex;
  flex-direction: column;
}

.cred-ph {
  width: 330px;
  height: 257;
}

.App-text {
  width: 330px;
  font-family: "IBM Plex Sans";
  height: 56;
  white-space: nowrap;
  font-size: 13px;
  color: #5d5d5d;
}

.FirstClass {
  width: 760px;
  height: 392px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.First-descr {
  width: 481px;
  height: 82px;
  margin-left: 140px;
  margin-bottom: 30px;
}

.Class-container {
  display: inline-flex;
  gap: 40px;
  width: 680px;
  height: 152px;
  margin-top: 40px;
}

.Fidjet-wrap {
  width: 140px;
  height: 144px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.green-box {
  width: 140px;
  height: 115px;
}

.Fidjet-text {
  text-align: center;
  margin-top: 15px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.PreFooter {
  width: 760px;
  height: 500px;
  margin-bottom: 31px;
}

.Woman-img {
  width: 680px;
  height: 350px;
  margin-bottom: 100px;
}

.FooterSt {
  width: 760px;
  height: 300px;
  display: flex;
  gap: 400px;
}

.foot-img {
  width: 124px;
  height: 238px;
}

.foot-wr {
  display: flex;
  flex-direction: column;
  width: 167px;
  height: 2388px;
}

.contact {
  font-size: 12px;
  color: #5d5d5d;
  width: 167px;
  height: 14px;
  margin-bottom: 13px;
  font-weight: bold;
  font-family: "IBM Plex Sans";
}

.contact-text {
  width: 167px;
  height: 62px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  margin-bottom: 115px;
  font-family: "IBM Plex Sans";
}

.terms {
  width: 167px;
  height: 30px;
  font-size: 12px;
  color: #5d5d5d;
  font-family: "IBM Plex Sans";
}
